.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  margin: 1rem;
  background: rgb(234, 225, 203);
  width: 30%;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .skill {
    margin: 1rem 0;
    width: 100%;
    height: 60vh;
  }
}
