.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  margin: 1rem;
  background: rgb(234, 225, 203);
  width: 30%;
}

@media screen and (max-width: 768px) {
  .skill {
    margin-bottom: 1rem;
    width: 100%;
  }
}
