.skills__titulo {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: rgb(234, 225, 203);
}

@media screen and (max-width: 768px) {
  .skills__titulo {
    margin-bottom: 2rem;
  }
}
