.projeto__conteudo--paragrafo {
  color: rgb(234, 225, 203);
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

@media screen and (max-width: 768px) {
  .projeto__conteudo--paragrafo {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}
