.projeto__conteudo {
  margin-left: 2rem;
}

#conteudo-invertido {
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .projeto__conteudo {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
