.formacoes-academicas__titulo {
  width: 100%;
  text-align: center;
  color: rgb(234, 225, 203);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .formacoes-academicas__titulo {
    font-size: 1.5rem;
  }
}
