.formacoes-academicas {
  background: rgb(46, 45, 45);
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 7rem;
}

@media screen and (max-width: 768px) {
  .formacoes-academicas {
    padding: 3rem 0 2rem 0;
  }
}
