.projeto__botao--a {
  padding: 0.3rem;
  border-radius: 10px;
  background: rgb(234, 225, 203);
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.projeto__botao--a:hover {
  background: goldenrod;
  font-weight: 700;
}

button a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .projeto__botao--a {
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
}
