.experiencia-profissional__titulo {
  color: rgb(234, 225, 203);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .experiencia-profissional__titulo {
    font-size: 1.5rem;
  }
}
