.form__submit {
  font-size: 1.375rem;
  color: rgb(46, 45, 45);
  width: 60%;
  padding: 0.5rem;
  border-radius: 10px;
  background: rgb(234, 225, 203);
  cursor: pointer;
  transition: 0.7s;
  border: 0.1px solid black;
  box-shadow: 0.5px 0.5px 0.5px 0.5px black;
  margin-top: 0.5rem;
}

.form__submit:hover {
  background: rgb(46, 45, 45);
  color: rgb(234, 225, 203);
}

@media screen and (max-width: 768px) {
  .form__submit {
    margin-top: 0;
  }
}
