.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  font-size: 1.375rem;

  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .formulario {
    margin-left: 0;
  }
}
