.rodape-menu__link {
  color: rgb(234, 225, 203);
  text-decoration: none;
  margin-right: 8px;
}

.rodape-menu__link img {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 0) {
  .rodape-menu__link {
    margin-right: 1rem;
  }

  .rodape-menu__link img {
    width: 30px;
    height: 30px;
  }
}
