.rodape-menu__link {
  color: rgb(234, 225, 203);
  text-decoration: none;
}

.rodape-menu__link img {
  width: 25px;
  height: 25px;
  transition: all 0.1s ease-in-out;
}

.rodape-menu__link img:hover {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .rodape-menu__link {
    margin-right: 0.5rem;
  }

  .rodape-menu__link img {
    width: 30px;
    height: 30px;
  }
}
