body * {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
.cabecalho {
  background-image: url(../img/m8.jpg);
  padding: 1rem 7rem;
  background-repeat: no-repeat;
  background-size: auto;
  color: rgb(234, 225, 203);
}

@media screen and (max-width: 768px) {
  .cabecalho {
    padding: 2rem 1.5rem;
    background-size: cover;
  }
}
