.cursos__link {
  text-decoration: none;
  color: rgb(19, 18, 18);
  transition: 0.3s;
}

.cursos__link:hover {
  text-decoration: underline;
  color: rgb(225, 190, 15);
}

@media screen and (max-width: 768px) {
  .cursos__link {
    font-size: 0.75rem;
  }

  .cursos__link:hover {
    font-size: 0.8rem;
  }
}
